body {
  font-family: 'Montserrat', sans-serif;
  color: #2B3541;
}
.burger,
.about-link-bottom {
  display: none;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1820px;
  margin: 0 auto;
  padding: 37px 15px 49px 15px;
}
.nav {
  max-width: 1147px;
  width: 100%;
}
.nav-list {
  list-style-type: none;
  display: flex;
  padding-left: 0;
}
.nav-item {
  margin-right: 54px;
}
.nav-link {
  text-decoration: none;
  font-size: 18px;
  line-height: 150%;
  transition: 0.2s ease;
  border-bottom: transparent;
  padding-bottom: 10px;
  color: #2B3541;
}
.nav-link:hover {
  border-bottom: 1px solid #2B3541;
  padding-bottom: 10px;
}
.inst {
  transition: 0.2s ease;
}
.inst:hover,
.fb:hover {
  transform: scale(1.1);
}
.fb {
  margin-left: 30px;
  transition: 0.2s ease;
}
.wrapper {
  max-width: 1143px;
  margin: 0 auto;
  position: relative;
  padding-right: 15px;
  padding-left: 15px;
}
.banner {
  background: url(../img/girl.png) no-repeat;
  background-position-x: 93%;
  margin: 0 auto 155px;
  max-width: 1565px;
}
.banner-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 819px;
}
.banner-top {
  max-width: 676px;
  padding-top: 159px;
}
.banner-bottom {
  margin-left: 90px;
}
.banner-title {
  font-weight: 700;
  font-size: 48px;
  line-height: 125%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 44px;
}
.banner-subtitle {
  font-size: 40px;
  line-height: 125%;
  margin: 0 0 21px 0;
}
.banner-description {
  font-size: 18px;
  line-height: 150%;
  max-width: 297px;
  margin-left: 90px;
  margin-bottom: 52px;
}
.banner-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding: 22px 30px;
  background: #FBF138;
  box-shadow: 0px 13px 24px rgba(251, 241, 56, 0.3);
  color: #2B3541;
  text-decoration: none;
  margin-left: 90px;
  transition: 0.2s ease;
}
.banner-btn:hover,
.about-link:hover {
  background: #2B3541;
  color: #FBF138;
}
.title-h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 125%;
  margin-bottom: 38px;
}
.events {
  margin-bottom: 128px;
}
.events-image {
  display: flex;
}
.events-item {
  display: flex;

  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
.events-item:hover::before {
  background: linear-gradient(180deg, #FBF138 0%, rgba(253, 249, 182, 0) 100%);
  opacity: 0.6;
  position: absolute;
  width: 100%;
}
.events-item::before {
  content: "";
  display: block;
  background: linear-gradient(180deg, #FBF138 0%, rgba(253, 249, 182, 0) 100%);
  opacity: 0.3;
  position: absolute;
  width: 100%;
  height: 600px;
}
.events-active {
  background: #2B3541;
  color: #FBF138;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  padding: 20px 30px;
  text-decoration: none;
  display: none;
}
.events-item:hover .events-active {
  display: inline-block;  
}
.img-01 {
  background: url(../img/maraphon.png) center no-repeat;
  margin-right: 20px;
  height: 600px;
  max-width: 367px;
}
.img-02 {
  background: url(../img/train.png) center no-repeat;
  margin-right: 20px;
  height: 600px;
  max-width: 367px;
}
.img-03 {
  background: url(../img/yoga.png) center no-repeat;
  height: 600px;
  max-width: 367px;
}
.events-top {
  margin:30px;
  z-index: 1;
}
.date {
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  opacity: 0.6;
  margin: 0 0 22px 0;
}
.events-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 125%;
  margin-top: 0;
  margin-bottom: 60px;
}
.events-bottom p {
  font-size: 18px;
  line-height: 150%;
  padding: 9px 20px;
  background-color: #FBF138;
  text-align: center;
  margin:0;
}
.events-bottom {
  display: flex;
  justify-content: flex-end;
  z-index: 1;
}
.schedule-title {
  display: flex;
  justify-content: space-between;
}
.schedule-date {
  font-weight: 700;
  font-size: 28px;
  line-height: 125%;
  padding-top: 18px;
}
.checkbox-link {
  font-size: 11px;
  line-height: 150%;
  text-decoration-line: underline;
  color: #2B3541;
  opacity: 0.5;
}
.checkbox-link:hover {
  opacity: 1;
}
.workout {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 250px 39px 71px 285px;
  grid-gap: 20px;
  margin-bottom: 159px;
}
.workout-item {
  border: 1px solid #2B3541;
}
.workout-wrap {
  max-width: 305px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.workout-date {
  font-size: 18px;
  line-height: 150%;
  color: #010101;
  opacity: 0.7;
  text-align: right;
  margin-top: 21px;
}
.workout-description {
  font-weight: 700;
  font-size: 18px;
  line-height: 125%;
  margin-top: 39px;
}
.workout-bottom {
  z-index: 1;
}
.workout-active {
  font-size: 18px;
  line-height: 150%;
  display: none;
}
.workout-item:hover .workout-active {
  display: block;
}
.functional {
  grid-column: 1/2;
  grid-row: 1/2;
}
.body-sculp {
  grid-column: 2/3;
  grid-row: 1/4;
}
.lab {
  grid-column: 3/4;
  grid-row: 1/3;
}
.mix {
  grid-column: 1/2;
  grid-row: 2/5;
  position: relative;
}
.mix::before {
  content: "";
  display: block;
  background: linear-gradient(180deg, #FBF138 0%, rgba(253, 249, 182, 0.45) 100%);
  opacity: 0.7;
  box-shadow: 0px 13px 30px rgba(186, 180, 69, 0.2);
  position: absolute;
  width: 100%;
  height: 100%;
}
.mix .workout-active {
  display: block;
}
.breathing {
  grid-column: 2/3;
  grid-row: 4/5;
}
.complex {
  grid-column: 3/4;
  grid-row: 3/5;
}
.mailing {
  background: #F3F3F3;
  padding-top: 47px;
  padding-bottom: 85px;
  margin-bottom: 157px;
}
.mailing .title-h2 {
  position: relative;
  text-align: center;
}
.mailing-circle {
  position: absolute;
  left: 219px;
  top: -30px;
}
.mailing-input {
  font-size: 18px;
  line-height: 150%;
  color:rgba(43, 53, 65, 0.3);
  width: 362px;
  height: 65px;
  padding-left: 10px;
  border: none;
  margin-right: 20px;
  margin-bottom: 10px;
}
.mailing-btn {
  background: #FBF138;
  box-shadow: 0px 13px 24px rgba(251, 241, 56, 0.2);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  padding: 21px 43px;
  color: #2B3541;
  text-decoration: none;
  align-self: start;
  transition: 0.2s ease;
}
.mailing-btn:hover {
  background: #2B3541;
  color: #FBF138;
}
.mailing-bottom {
  max-width: 808px;
  margin-top: 13px;
}
.mailing-label {
  font-size: 11px;
  line-height: 150%;
}
input[type=checkbox] {
  display: none;
}
.mailing-label::before {
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  background: url(../img/checkbox-on.svg);
  vertical-align: middle;
  margin-right: 10px
}
input[type=checkbox]:checked +.mailing-label::before {
  background: url(../img/checkbox-off.svg)
}
.mailing-link {
  color: rgba(43, 53, 65, 0.5);
}
.mailing-link:hover {
  color: rgba(43, 53, 65, 1);
}
.wrap {
  display: flex;
  justify-content: center;
}
.about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 58px 0;
  margin-bottom: 152px;
}
.about-description {
  font-size: 18px;
  line-height: 150%;
  margin-bottom: 55px;
}
.about-01 {
  grid-column: 1/3;
}
.about-02 {
  grid-column: 3/5;
  position: relative;
}
.about-02::before {
  content: "";
  display: block;
  background: linear-gradient(180deg, #FBF138 0%, rgba(253, 249, 182, 0.45) 100%);
  opacity: 0.3;
  position: absolute;
  width: 100%;
  height: 100%;
}
.about-03 {
  grid-column: 1/5;
  display: flex;
  justify-content: space-between;
}
.title-h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 125%;
  margin-bottom: 23px;
}
.text {
  font-size: 18px;
  line-height: 150%;
}
.footer {
  background-color: #F3F3F3;
  padding-top: 39px;
}
.footer-bottom {
  display: flex;
  justify-content: space-between;
}
.flex-01 {
  flex-basis: 231px;
}
.flex-02 {
  flex-basis: 284px;
}
.flex-03 {
  flex-basis: 221px;
}
.flex-04 {
  flex-basis: 204px;
}
.footer-top {
  display: flex;
  justify-content: space-between;
}
.footer-left {
  display: flex;
  justify-content: space-between;
  flex-basis: 723px;
  align-items: center;
}
.footer-logo {
  padding-top: 10px;
}
.footer-nav-list {
  list-style-type: none;
  display: flex;
  padding-left: 0;
}
.footer-nav-item {
  margin-right: 90px;
}
.footer-nav-link {
  text-decoration: none;
  font-size: 14px;
  line-height: 150%;
  color: #2B3541;
  border-bottom: 1px solid transparent;
  padding-bottom: 10px;
}
.footer-nav-link:hover {
  padding-bottom: 10px;
  border-bottom: 1px solid#2B3541;
}
.footer-fb {
  margin-left: 23px;
  transition: 0.2s ease;
}
.footer-inst {
  margin-left: 57px;
  transition: 0.2s ease;
}
.footer-fb:hover,
.footer-inst:hover {
  transform: scale(1.1);
}
.footer-link {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: #2B3541;
  text-decoration: none;
  position: relative;
}
.footer-social {
  position: relative;
}
.footer-circle {
  position: absolute;
  left: -41px;
  top: -6px;
}
.about-item .title-h2 {
  margin-top: 0;
  margin-bottom: 20px;
}
.about-link {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  text-transform: uppercase;
  text-decoration: none;
  color: #2B3541;
  background: #FBF138;
  box-shadow: 0px 13px 24px rgba(251, 241, 56, 0.3);
  padding: 22px 56px;
  transition: 0.2s ease;
}
.footer-text {
  color: rgba(43, 53, 65, 0.3);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.footer-bottom-link {
  color: #2B3541;
  opacity: 0.3;
}
.footer-bottom-link:hover {
  opacity: 1;
}

@media(max-width: 1388px) {
  .nav {
    max-width: 900px;
  }
}
@media(max-width: 1251px) {
  .banner-title {
    font-size: 40px;
  }
  .banner-subtitle {
    font-size: 32px;
  }
  .banner-description,
  .banner-btn {
    font-size: 16px;
    margin-left: 48px;
  }
}
@media(max-width: 1124px) {
  .nav {
    max-width: 700px;
  }
}
@media(max-width: 1124px) {
  .nav {
    max-width: 650px;
  }
  .banner-top {
    max-width: 557px;
    padding-top: 159px;
  }
  .banner-title {
    font-size: 32px;
  }
  .banner-subtitle {
    font-size: 26px;
  }
  .workout-wrap {
    max-width: 245px;
  }
}
@media(max-width: 1045px) {
  .footer-top {
    flex-direction: column;
  }
  .footer-left {
    flex-basis: 0;
    flex-direction: column;
  }
  .footer-social {
    margin: 0 auto;
  }
  .about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 58px 0;
    margin-bottom: 63px;
  }
  .events-item {
    height: 550px;
  }
}
@media(max-width: 1000px) {
  .burger {
    display: block;
  }
  .nav-list {
    display: none;
  }
  .nav {
    max-width: 30px;
    margin: 0 auto;
  }
  .banner {
    background-position: bottom;
    background-size: 513px;
  }
  .banner-top {
    max-width: 557px;
    padding-top: 37px;
    margin: 0 auto;
  }
  .header {
    padding-bottom: 0;
  }
  .banner-bottom img {
    display: none;
  }
  .title-h2 {
    font-size: 32px;
  }
  .footer-nav-item {
      margin-right: 61px;
  }
  .footer-nav-item:last-child {
    margin-right: 0;
  }
  .events-image {
    flex-wrap: wrap;
    justify-content: center;
  }
  .img-01 {
    margin-bottom: 20px;
  }
  .about-description {
    font-size: 15px;
  }
  .text,
  .title-h3 {
    font-size: 16px;
  }
  .flex-02 {
    flex-basis: 276px;
  }
  .footer-nav-item {
    margin-right: 51px;
  }
}
@media(max-width: 855px) {
  .about-link {
    display: none;
  }
  .workout {
    grid-template-columns: 55%;
    grid-template-rows: auto;
    justify-content: center;
  }
  .functional {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .body-sculp {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .lab {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .mix {
    grid-column: 1/2;
    grid-row: 4/5;
  }
  .breathing {
    grid-column: 1/2;
    grid-row: 5/6;
  }
  .complex {
    grid-column: 1/2;
    grid-row: 6/7;
  }
  .about {
    grid-template-columns: 1fr;
    margin-bottom: 32px;
  }
  .about-01 {
    grid-column: 1/2;
    grid-row: 1/2;
    text-align: center;
  }
  .about-02 {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .about-02 img {
    width: 100%;
  }
  .about-03 {
    grid-row: 2/3;
    grid-column: 1/2;
    flex-wrap: wrap;
    justify-content: center;
  }
  .about-link-bottom {
    display: block;
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    text-transform: uppercase;
    text-decoration: none;
    color: #2B3541;
    background: #FBF138;
    padding: 22px 56px;
    transition: 0.2s ease;
    margin-bottom: 40px;
    margin-top: 25px;
  }
  .about-02::before {
    top: 132px;
  }
  .flex-01,
  .flex-02,
  .flex-03,
  .flex-04 {
    flex-basis: 50%;
  }
  .mailing {
    margin-bottom: 100px;
  }
  .mailing-bottom {
    max-width: 318px;
  }
  .events-item {
    max-width: 326px;
  }
  .footer-bottom {
    flex-direction: column;
    align-items: center;
  }
  .footer-text {
    font-size: 10px;
    text-shadow: none;
  }
  .footer-nav-link,
  .footer-link {
    text-decoration: none;
    font-size: 12px;
  }
  .workout-wrap {
    max-width: 342px;
  }
}
@media(max-width: 732px) {
  .header__logo {
    width: 78px;
  }
  .inst,
  .fb {
    width: 26px;
    height: 26px;
  }
  .banner-title,
  .banner-title,
  .title-h2 {
    font-size: 26px;
  }
  .date {
    font-size: 12px;
  }
  .events-title,
  .schedule-date,
  .workout-date,
  .workout-description {
    font-size: 16px;
  }
  .events-bottom {
    justify-content: flex-start;
  }
  .img-01 {
    background-image: url(../img/maraphon.png);
    width: 165px;
    height: 309px;
  }
  .img-02 {
    background-image: url(../img/Vebinar\ 1.png);
    width: 165px;
    height: 309px;
  }
  .img-03 {
    background-image: url(../img/Vebinar\ 2.png);
    width: 340px;
    height: 336px;
  }
  .workout {
    grid-template-columns: 100%;
  }
  .workout-bottom {
    display: flex;
  }
  .events-item::before {
    content: "";
    display: block;
    background: linear-gradient(180deg, #FBF138 0%, rgba(253, 249, 182, 0) 100%);
    opacity: 0.3;
    position: absolute;
    width: 100%;
    height: 100%;
  }
  .wrap {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .mailing-box {
    margin-bottom: 40px;
  }
  .mailing-btn {
    margin: 0 auto;
  }
  .mailing-input {
    width: 340px;
  }
  .banner {
    background-size: 340px;
  }
.workout-item img {
  margin-right: 20px;
  }
}
@media(max-width: 539px) {
  .flex-01,
  .flex-02,
  .flex-03,
  .flex-04 {
    flex-basis: 100%;
}
.workout-active {
  font-size: 12px;
}
.header {
  padding: 37px 9px 0 9px;
}
.fb {
  margin-left: 17px;
}
.nav {
  max-width: 74px;
}
.wrapper {
  padding-right: 6px;
  padding-left: 11px;
}
.banner {
  margin: 0 auto 79px;
}
.banner-description {
  margin-left: 0px;
  margin-bottom: 58px;
}
.banner-btn {
  margin-left: 0px;
  padding: 23px 73px;
}
.banner-text {
  height: 719px;
}
.img-01 {
  margin-right: 10px;
  margin-bottom: 12px;
}
.img-02 {
  margin-right: 0;
}
.events-bottom p {
  font-size: 12px;
}
.title-h2 {
  margin-bottom: 19px;
}
.events-top {
  margin: 17px;
}
.date {
  margin: 0 0 12px 0;
}
.events-bottom p {
  padding: 6px 16px;
}
.img-03 .events-top {
  margin: 9px;
}
.events {
  margin-bottom: 56px;
}
.events-title {
  width: 130px;
}
.workout-wrap {
  max-width: 281px;
}
.workout-item img {
margin-right: 20px;
}
.workout-bottom {
  flex-wrap: wrap;
}
.mailing {
  padding-top: 36px;
  padding-bottom: 40px;
  margin-bottom: 80px;
}
.mailing-circle {
  width: 62px;
  height: 62px;
  left: 51px;
  top: -18px;
}
.mailing-input {
  margin-right: 0;
  width: 313px;
  padding-left: 25px;
}
.mailing .title-h2 {
  margin-bottom: 50px;
}
.mailing-btn {
  padding: 22px 99px;
}
.about-01 {
  text-align: left;
}
.about {
  grid-template-rows: 166px;
  grid-gap: 23px 0;
}
.flex-01 {
  margin-bottom: 31px;
}
.flex-02 {
  margin-bottom: 7px;
}
.flex-03 {
  margin-bottom: 30px;
}
.about-03 .title-h3 {
  margin-bottom: 16px;
}
.footer-nav {
  padding-top: 20px;
}
.functional img {
  width: 39px;
}
.body-sculp img {
  width: 23px;
}
.lab img {
  width: 46px;
}
.mix img {
  width: 34px;
}
.breathing img {
  width: 39px;
}
.complex img {
  width: 35px;
}
.workout-text {
  flex-basis: 200px;
}
}
